
/* NAVIGATION */
body{
  background-color:	#ECEEF2;
}

ul li {
  list-style-type: none;
}
nav ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  padding: 15px;
  height: 20px;
  overflow: hidden;
  background-color:	#ECEEF2;
}
nav ul li {
  flex-direction: row;
  justify-content: center;
  display: block;
  flex: 0 1 auto;
  color: #B52350;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
}

nav li a:hover {
  background-color: #FE9634;
}
section#port_body {
  font-family: Roboto;
}
h1 {
  color: #FE9634;
  font-family: Roboto;
  text-align: center;
}
h2 {
  color: #091269;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
}
IMG.displayed{
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: #9C1F50;
  text-align: center;
  font-family: Roboto;
}
figure {
  display: table;
  border-top: none;
}
p#bio {
  color: #ECEEF2;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  width: 45%;
  margin-right: 315px;
  margin-left: auto;
  padding: 15px;
  height: 65px;
  overflow: hidden;
  background-color:	#B52350;
}
img#headshot {
  width: 25%;
  padding: 20px;
  margin-left: 440px;
  margin-right: auto;
  border: 1px solid #FE9634;
}
img#grandparents {
  width: 25%;
}
img#bridge {
  width: 25%;
}
img#futurehouse{
  width: 25%;
}
img#forest {
  width: 25%;
}
img#handshake {
  width: 25%
}

section#experience_body {
  text-align: center;
  font-family: Roboto;
  color: #091269;
}
section#education_body {
  text-align: center;
  font-family: Roboto;
  color: #091269;
}
img#logo {
  width: 30%;
  margin-left: 440px;
  margin-right: auto;
}
